/*** Blocs ***/


/* Contour des blocs */

.bloc {
	display:block;
	margin:2rem 0;
	padding:0;
	width:100%;
}

.bloc_header, .bloc_details {
	background-color:$gris-lighter;
	border:1px solid $gris-stronger;
}

.bloc_details {
	border-top-width:0;

	&:last-child {
		border-bottom-left-radius:20px;
		border-bottom-right-radius:20px;
	}
}


/* Contenu des blocs */

.bloc_header .bloc_header_container {
	padding:1.5rem;
	overflow:hidden;
	display:flex;
	justify-content:space-between;
	align-items:center;

	h3 {
		margin:0;
	}

	> span {
		flex-grow:1;
		margin: 0 1.5rem;
		
		span {
			display:block;

		}
	}
}

.bloc_details_main,.bloc_details_below {
	padding:1.5rem 0 1.5rem 65px;
	margin:0 1.5rem;
	display:flex;
	justify-content:space-between;
	align-items:center;

	span span {
		display:block;
		margin-left:3rem;
	}
}

.bloc_details_main {
	min-height:calc(38px + 2*1.5rem);
}

.bloc_details_below {
	color:$gris-strong;
	border-top:1px solid $gris-strong;
	padding-bottom:2rem;
}


/* Pictos */

.bloc_details_pictoed,
.bloc_header_pictoed {
	position:relative;

	&:after {
		content:' ';
		display:block;
		width:35px;
		height:38px;
		background-position:center center;
		background-size:contain;
		background-repeat:no-repeat;
		background-attachment:scroll;
		background-color:transparent;
		position:absolute;
		left:0;
		top:1.5rem;
	}

	&.pictoed_clock:after {
		background-image:url(../img/clock.png);
	}

	&.pictoed_calendar:after {
		background-image:url(../img/calendar.png);
	}

	&.pictoed_text:after {
		border:1px solid $gris-stronger;
		text-transform:uppercase;
		font-weight:$weight-black;
		height:auto;
		padding:4px 0;
		text-align:center;
		top:2rem;
	}

	&.pictoed_text_ea:after {
		content:'ea';
	}

	&.pictoed_text_ec:after {
		content:'ec';
	}

	&.pictoed_text_cc:after {
		content:'cc';
	}

	&.pictoed_text_af:after {
		content:'af';
	}

	&.pictoed_text_eab:after {
		content:'eab';
	}
}

.bloc_header_pictoed {

	.bloc_header_container {
		padding-left:65px;
	}

	&:after {
		margin-left:1.5rem;
	}
}


/* Background-color suivant la date de fin du contrat */

.bloc_marked {

	&:before {
		content:' ';
		display:block;
		width:100%;
		height:5px;
		margin:0;
		border:0;
		padding:0;
		background-color:$vert;
	}

	&.bloc_warning {

		&:before {
			background-color:$rouge;
		}

		.bloc_details_countdown {
			color:$rouge;
			font-weight:$weight-bold;
		}
	}

	&.bloc_darkened {
		background-color:$gris-strong;

		&:before {
			background-color:$gris-stronger;
		}

		.bloc_details_below {
			color:$gris-stronger;
			border-top-color:$gris-stronger;
		}
	}
}


/* Blocs ouverts / fermés */

.bloc_closed {

	.bloc_details {
//		display:none;
	}

}

/* Tags dans le bloc */
.bloc_details {
	position:relative;

	.bloc_tags {
		position:absolute;
		top:1.5rem;
	}

}

/* Bouton ajouter une intervention */
#intervention_add {
	border-radius:50%;
	border:1px solid $gris-stronger;
	font-size:25px;
	line-height:1;
	padding:0;
	height:33px;
	width:33px;
	color:transparent;
	position:relative;

	&:after,&:before {
		content:' ';
		display:inline-block;
		background-color:$gris-stronger;
		border:0;
		position:absolute;
		right:0;
		top:50%;
		transition-duration:.3s;
		transition-timing-function:ease;
		transition-property:background-color;
	}

	&:after {
		width:17px;
		height:1px;
		margin-right:7px;
	}

	&:before {
		width:1px;
		height:17px;
		margin-top:-8px;
		margin-right:15px;
	}

	&:hover, &:active, &:focus {
		background-color:$jaune;
	}

}

/* Bouton pour l'ouverture et la fermeture des blocs */
.bloc_switcher {
	border-radius:50%;
	border:1px solid $gris-stronger;
	font-size:25px;
	line-height:1;
	padding:0;
	height:33px;
	width:33px;
	color:transparent;
	position:absolute;
	top:50%;
	margin-top:-15px;
	right:1.5rem;
	transition:transform .3s ease;
	z-index:2;

	&.click_to_open {
		transform:rotate(90deg);
	}

	&:before, &:after {
		content:' ';
		display:block;
		position:absolute;
		width:12px;
		height:1px;
		background-color:$gris-stronger;
		border-radius:1px;
		top:16px;
	}

	&:before {
		transform:rotate(53deg);
		left:6px;
	}

	&:after {
		transform:rotate(-53deg);
		right:6px;
	}

	&:hover,&:active,&:focus {
		background-color:$jaune;
	}

}

.has_button_bloc_switcher {

	.bloc_header {
		position:relative;
	}

	.bloc_header_container {
		padding-right:62px;
	}

}
