#ajax_result, #form_container {
  width:470px;
  max-width:100%;
}

#form_container {
  margin:5rem auto;
}

form {
  width:100%;

  /* Généralités */
  label, .label {
    display:block;
    margin:0 0 .5rem;
    font-weight:bold;
  }

  [type="color"], [type="date"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea {
    box-shadow:none;
    outline:none;

      &:hover,&:active,&:focus {
        box-shadow:none;
        outline:none;
      }
  }

  input[type="text"],input[type="email"],input[type="password"],select,textarea {
    width:100%;
    margin:0 0 1.5rem;
    border:1px solid $gris-strong;

    &:hover {
      border-color:$gris-light;
    }

    &:active,&:focus {
      border-color:$gris-stronger;
    }

  }

  /* Checkboxes */
  input[type="checkbox"] {
    position:absolute;
    left:-9999px;
    width:1px;

    & + label {
      display:inline-block;
      float:left;
      font-weight:normal;
      padding-left:2rem;
      position:relative;

      &:before {
        content:" ";
        position:absolute;
        top:2px;
        left:0;
        width:1.5rem;
        height:1.5rem;
        border:1px solid $gris-stronger;
      }

    }

    & + label:hover,
    &:active + label,
    &:focus + label,
    &:checked + label {

      &:after {
        content:" ";
        position:absolute;
        top:0px;
        left:6px;
        width:.7rem;
        height:1.3rem;
        border-width:2px;
        border-style:solid;
        border-color:$gris-strong;
        border-top-width:0px;
        border-left-width:0px;
        transform:rotate(45deg);
      }
    }

    &:checked + label {

      &:before {
        border-color:$jaune;
      }

      &:after {
        border-color:$gris-stronger !important;
      }
    }

  }

  /* Radio to button */
  .radio-to-buttons {
    display:flex;
    flex-wrap:nowrap;
    align-items:flex-start;
    justify-content:flex-start;

    input[type="radio"] {
      position:absolute;
      left:-9999px;

      & + label {
        display:block;
        width:auto;
        margin:.5rem;
        border-radius:20px;
        padding:.5rem 1rem;
        background-color:$gris-lighter;
        color:$gris-strong;
        border:1px solid $gris-lighter;
      }

      &:first-child + label {
        margin-left:0;
      }

      & + label:last-child {
        margin-bottom:1.5rem;
      }

      &:focus + label,
      &:active + label,
      & + label:hover {
        color:$gris-stronger;
        // border-color:$gris-stronger;
      }

      &:checked + label {
        color:$gris-stronger;
        background-color:$jaune;
        border-color:$jaune;
      }
    }

  }


  /* Submit */
  input[type="submit"], button[type="submit"] {
    display:block;
    width:100%;
    // @include font-size('h3');
    padding:1.5rem;
    margin-top:1.5rem;
    // border-radius:20px;
    // background-color:$gris-light;
    border:1px solid $gris-stronger;
    // color:$gris-stronger;

    &:hover,&:active,&:focus {
      background-color:$jaune;
      color:$gris-stronger;
    }
  }

}
